body {
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
  background-color: #f2f2f2;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #ffa500;
}

button {
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 25px;
  font-size: 16px;
}

button:active {
  background-color: #ff8c00;
}